*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: cadetblue;
}
.container{
    margin-left: 40%;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}